
.pantalla .iconosArriba{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  grid-gap: 6.5px;
  gap: 6.5px;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  min-width: 95px;
  }

  .pantalla{
    background-color: rgba(15,130,55,.4);
    max-width: 500px;
    min-width: 85px;
    max-height: 500px;
    min-height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  p {
    color: #0f380f;
  }

  .icono {
    max-width: 30px;
    max-height: 30px;
    min-width: 15px;
    min-height: 15px;
  }

  .mascota {
    max-height: 120px;
    max-width: 256px;
    min-height: 20px;
    height: 100%;
  }



  .pantallaCentro::after{
    z-index: 2;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(transparent 0%,transparent calc(100% - 1px),#000 calc(100% - 2px),#000 100%),linear-gradient(90deg,transparent 0%,transparent calc(100% - 1px),#000 calc(100% - 2px),#000 100%);
    background-size: 8px 8px;
    opacity: .13;
    pointer-events: none;
  }

  .pantallaCentro {
    max-width: 270px;
    max-height: 120px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 18vw;
    min-height: 40px;
}

 .columnaIcono{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textoIconos{
  font-size: 1.2vmin;
}

.iconosAbajo{
  min-height: 15px;
  max-width: 15px;
  max-width: 256px;
  min-height: 50px;
  height: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.iconosAbajo .icono{
  width: 4.2vmin;
  height: 4.2vmin;
}